In [1]:
# If you dont have it already, download and install docker:

#   https://docs.docker.com/get-docker/

# Once installed, start docker by clicking the icon in your applications folder.

# Once installed, start by pulling latest postgres docker container.
# See below for more info about Postgres docker container: 

#   https://hub.docker.com/_/postgres

!docker pull postgres

Using default tag: latest
latest: Pulling from library/postgres
Digest: sha256:768bd1d79ef01854ab12ba86a3dfe67baf30b205c7eef79e55b3fb39e391787e
Status: Image is up to date for postgres:latest
docker.io/library/postgres:latest

In [2]:
# Now that we have installed the container, lets run it!

!docker run --name movies -e POSTGRES_PASSWORD=temp_password -d -p 5433:5432 postgres

docker: Error response from daemon: Conflict. The container name "/movies" is already in use by container "d5a13d6253a92b0fdda6faa37b2d9f6f6ac9f10f57582c5bc592b89c89978ad6". You have to remove (or rename) that container to be able to reuse that name.
See 'docker run --help'.

In [3]:
import pandas as pd

In [4]:
# Load movies dataset into a data frame.
movies = pd.read_csv('movies.csv') 
movies.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [12]:
# Droping budget column
movies.pop('budget')
movies.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,39846344.0,Orion Pictures,98.0

In [13]:
# Drop all na rows.
movies=movies.dropna(how='any')
movies.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,39846344.0,Orion Pictures,98.0

In [14]:
movies.count()

name        7412
rating      7412
genre       7412
year        7412
released    7412
score       7412
votes       7412
director    7412
writer      7412
star        7412
country     7412
gross       7412
company     7412
runtime     7412
dtype: int64

In [15]:
movies.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
gross       float64
company      object
runtime     float64
dtype: object

In [16]:
# Stats
movies.describe()

              year        score         votes         gross      runtime
count  7412.000000  7412.000000  7.412000e+03  7.412000e+03  7412.000000
mean   2000.640718     6.396910  9.076357e+04  7.899355e+07   107.446438
std      11.028736     0.963162  1.653466e+05  1.662164e+08    18.517471
min    1980.000000     1.900000  1.050000e+02  3.090000e+02    63.000000
25%    1991.000000     5.800000  1.000000e+04  4.633888e+06    95.000000
50%    2001.000000     6.500000  3.400000e+04  2.040352e+07   104.000000
75%    2010.000000     7.100000  9.600000e+04  7.644231e+07   116.000000
max    2020.000000     9.300000  2.400000e+06  2.847246e+09   366.000000

In [18]:
# With the data cleaned and Postgres running, we will now add the dataset to Postgres.

#import to PostgresSQL
from sqlalchemy import create_engine

# create a database engine
engine = "postgresql://postgres:temp_password@127.0.0.1:5433/postgres"

# Using temp dev password.
db_password = 'temp_password'

#connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/postgres"

#database engine
engine = create_engine(db_string)

#importing movie data
movies.to_sql(name='movies', con=engine, if_exists='replace', index=False)

In [19]:
# Now lets check to see if it worked...

query = """

SELECT 
    *
FROM
    movies
WHERE 
    director = 'John Carpenter'
ORDER BY
    score DESC

"""
test_movies_df = pd.read_sql_query(query, con=engine)
test_movies_df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,gross,company,runtime
0,The Thing,R,Horror,1982,"June 25, 1982 (United States)",8.1,382000.0,John Carpenter,Bill Lancaster,Kurt Russell,United States,19632053.0,Universal Pictures,109.0
1,They Live,R,Action,1988,"November 4, 1988 (United States)",7.3,117000.0,John Carpenter,Ray Nelson,Roddy Piper,United States,13008928.0,Alive Films,94.0
2,Big Trouble in Little China,PG-13,Action,1986,"July 2, 1986 (United States)",7.3,128000.0,John Carpenter,Gary Goldman,Kurt Russell,United States,11100577.0,Twentieth Century Fox,99.0
3,Escape from New York,R,Action,1981,"July 10, 1981 (United States)",7.2,131000.0,John Carpenter,John Carpenter,Kurt Russell,United States,25244626.0,AVCO Embassy Pictures,99.0
4,In the Mouth of Madness,R,Drama,1994,"February 3, 1995 (United States)",7.2,64000.0,John Carpenter,Michael De Luca,Sam Neill,United States,8924549.0,New Line Cinema,95.0

In [36]:
#Which studio produces the highest rated movies in the US
query = """

SELECT 
    company, 
    AVG(score) AS avg_score
FROM
    movies
WHERE
    country='United States'

GROUP BY
    1
ORDER BY
    avg_score DESC

"""
company_movies_df = pd.read_sql_query(query, con=engine)
company_movies_df.head(10)

                         company  avg_score
0           Cecchi Gori Pictures        8.6
1  Strong Heart/Demme Production        8.6
2        Newmarket Capital Group        8.4
3                           AMLF        8.3
4              FortyFour Studios        8.1
5                 Pandora Cinema        8.0
6                  Mirabai Films        8.0
7       Truth Entertainment (II)        8.0
8    Electric City Entertainment        7.9
9                Lava Bear Films        7.9

In [31]:
#which genre is the most popular gobally
query = """

SELECT 
    genre, 
    AVG(score) AS avg_score
FROM
    movies


GROUP BY
    1
ORDER BY
    avg_score DESC

"""
genre_movies_df = pd.read_sql_query(query, con=engine)
genre_movies_df.head()

       genre  avg_score
0    Musical   7.900000
1      Music   7.200000
2  Biography   7.042191
3  Animation   6.762236
4      Drama   6.695344

In [35]:
#Directors affect ratings in the US
query = """

SELECT 
    director, 
    AVG(score) AS avg_score
FROM
    movies
WHERE
    country='United States'

GROUP BY
    1
ORDER BY
    avg_score DESC

"""
director_movies_df = pd.read_sql_query(query, con=engine)
director_movies_df.head()

            director  avg_score
0    Bob Persichetti   8.400000
1        Lee Unkrich   8.300000
2  Christopher Nolan   8.233333
3        Pete Docter   8.133333
4  Quentin Tarantino   8.100000

In [34]:
#actors affect ratings in the US
query = """

SELECT 
    star, 
    AVG(score) AS avg_score
FROM
    movies
WHERE
    country='United States'

GROUP BY
    1
ORDER BY
    avg_score DESC

"""
star_movies_df = pd.read_sql_query(query, con=engine)
star_movies_df.head()

                   star  avg_score
0           Mark Hamill        8.5
1      Anthony Gonzalez        8.4
2             Ben Burtt        8.4
3  Dean-Charles Chapman        8.3
4     F. Murray Abraham        8.3

In [21]:
movies.to_csv("movies_final.csv")