In [1]:
# If you dont have it already, download and install docker:

#   https://docs.docker.com/get-docker/

# Once installed, start docker by clicking the icon in your applications folder.

# Once installed, start by pulling latest postgres docker container.
# See below for more info about Postgres docker container: 

#   https://hub.docker.com/_/postgres

!docker pull postgres

Using default tag: latest
latest: Pulling from library/postgres

020076a7: Pulling fs layer
fd172370: Pulling fs layer
acc309be: Pulling fs layer
a6a1585e: Pulling fs layer
1f9d15e3: Pulling fs layer
3ed00fb0: Pulling fs layer
23651fbb: Pulling fs layer
7ca74903: Pulling fs layer
cff4623b: Pulling fs layer
46e27b18: Pulling fs layer
6bee01e8: Pulling fs layer
8d19f39a: Pulling fs layer
Digest: sha256:768bd1d79ef01854ab12ba86a3dfe67baf30b205c7eef79e55b3fb39e391787e
Status: Downloaded newer image for postgres:latest
docker.io/library/postgres:latest

In [2]:
# Now that we have installed the container, lets run it!

!docker run --name movies -e POSTGRES_PASSWORD=temp_password -d -p 5433:5432 postgres

d5a13d6253a92b0fdda6faa37b2d9f6f6ac9f10f57582c5bc592b89c89978ad6

In [3]:
import pandas as pd

In [4]:
# Load movies dataset into a data frame.
movies = pd.read_csv('movies.csv') 
movies.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [5]:
# Drop all na rows.
movies=movies.dropna(how='any')
movies.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [6]:
movies.count()

name        5421
rating      5421
genre       5421
year        5421
released    5421
score       5421
votes       5421
director    5421
writer      5421
star        5421
country     5421
budget      5421
gross       5421
company     5421
runtime     5421
dtype: int64

In [7]:
movies.dtypes

name         object
rating       object
genre        object
year          int64
released     object
score       float64
votes       float64
director     object
writer       object
star         object
country      object
budget      float64
gross       float64
company      object
runtime     float64
dtype: object

In [8]:
# Stats
movies.describe()

,year,score,votes,budget,gross,runtime
count,5421.000000,5421.000000,5.421000e+03,5.421000e+03,5.421000e+03,5421.000000
mean,2001.661317,6.392455,1.150661e+05,3.600917e+07,1.032297e+08,108.152739
std,10.540908,0.962730,1.844073e+05,4.157337e+07,1.873027e+08,18.115698
min,1980.000000,1.900000,1.950000e+02,6.000000e+03,3.090000e+02,63.000000
25%,1993.000000,5.800000,1.900000e+04,1.000000e+07,1.073640e+07,95.000000
50%,2002.000000,6.500000,5.200000e+04,2.180000e+07,3.686941e+07,105.000000
75%,2011.000000,7.100000,1.290000e+05,4.500000e+07,1.124625e+08,118.000000
max,2020.000000,9.300000,2.400000e+06,3.560000e+08,2.847246e+09,271.000000

In [9]:
# With the data cleaned and Postgres running, we will now add the dataset to Postgres.

#import to PostgresSQL
from sqlalchemy import create_engine

# create a database engine
engine = "postgresql://postgres:temp_password@127.0.0.1:5433/postgres"

# Using temp dev password.
db_password = 'temp_password'

#connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5433/postgres"

#database engine
engine = create_engine(db_string)

#importing movie data
movies.to_sql(name='movies', con=engine, if_exists='replace', index=False)

In [10]:
# Now lets check to see if it worked...

query = """

SELECT 
    *
FROM
    movies
WHERE 
    director = 'John Carpenter'
ORDER BY
    score DESC

"""
test_movies_df = pd.read_sql_query(query, con=engine)
test_movies_df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Thing,R,Horror,1982,"June 25, 1982 (United States)",8.1,382000.0,John Carpenter,Bill Lancaster,Kurt Russell,United States,15000000.0,19632053.0,Universal Pictures,109.0
1,They Live,R,Action,1988,"November 4, 1988 (United States)",7.3,117000.0,John Carpenter,Ray Nelson,Roddy Piper,United States,4000000.0,13008928.0,Alive Films,94.0
2,Big Trouble in Little China,PG-13,Action,1986,"July 2, 1986 (United States)",7.3,128000.0,John Carpenter,Gary Goldman,Kurt Russell,United States,25000000.0,11100577.0,Twentieth Century Fox,99.0
3,Escape from New York,R,Action,1981,"July 10, 1981 (United States)",7.2,131000.0,John Carpenter,John Carpenter,Kurt Russell,United States,6000000.0,25244626.0,AVCO Embassy Pictures,99.0
4,In the Mouth of Madness,R,Drama,1994,"February 3, 1995 (United States)",7.2,64000.0,John Carpenter,Michael De Luca,Sam Neill,United States,8000000.0,8924549.0,New Line Cinema,95.0